#log{
	background-color:rgba(0,0,0,0.2);
	position:fixed;
	z-index:9999;
	top:0;
	left:0;
	display:none;
	height:100%;
	width:100%;
}
.log{
	z-index:99999;
	width:410px;
	height:500px;
	border:4px solid rgba(0,0,0,0.25);
	border-radius:6px;
	position:absolute;
	left:50%;
	top:50%;
	display:none;
	margin-left:-210px;
	margin-top:-250px;
	background-color:#fff;
}
#logTop{
	height:30px;
	padding:0 10px;
	line-height:30px;
	font-size:14px;
	color:#666666;
	background-color:#F3F3F3;
}
#cha{
	color:#CDCDCD;
	float:right;
	font-size:24px;
	cursor:pointer;
}
#logBot{
	height:370px;
	width:310px;
	margin:50px;
	position:relative;
}
#logBot>a{
	display:inline-block;
	width:155px;
	text-align:center;
	font-size:22px;
	float:left;
	color:#666666;
}
#logBot>a:hover{
	color:#E4393C;
}
#logBot>.abg{
	color:#E4393C;
}
.ma{
	height:310px;
	width:310px;
	position:absolute;
	bottom:0;
	left:0;
}
.ma1{
	height:158px;
	width:100%;
	position:relative;
	z-index:9999;
}
.ma1>span{
	padding:6px;
	display:inline-block;
	border:1px solid #ccc;
	margin-left:81.5px;
	transition:margin-left 0.2s linear;
}
.ma1>span img{
	height:140px;
}
.ma1>img:last-of-type{
	position:absolute;
	right:0;
	top:0;
	height:158px;
	opacity:0;
	transition:opacity 0.1s linear;
}
.ma1:hover span{
	margin-left:0;
}
.ma1:hover>img{
	opacity:1;
}
.ma>p{
	position:relative;
	z-index:999999999;
	color:#666666;
	font-size:12px;
	text-align:center;
	line-height:20px;
	margin:20px 0 15px;
}
.ma>p>a{
	color:#E4393C;
}
.ma2{
	position:absolute;
	bottom:0;
	width:100%;
	z-index:9999999999;
	font-size:12px;
	color:#666666;
}
.ma2>a{
	display:inline-block;
	height:20;
	line-height:20px;
}
.ma2>a:hover{
	text-decoration:underline #B61D1D;
	color:#B61D1D;
}
.ma2>a:last-of-type{
	float:right;
	font-size:14px;
	color:#B61D1D;
}
.ma2>a:first-of-type{
	margin-right:20px;
	position:relative;
}
.ma2>a>img{
	vertical-align:middle;
	margin-right:6px;
}